/node_modules
/public
/storage
/resources/fonts
/resources/imgs
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/sass
/resources/scss
/resources/images
*.zip
