
@font-face {
	font-family: "primary-font";
	src: url("../fonts/iran-sans-200.eot");
	src: url("../fonts/iran-sans-200.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/iran-sans-200.woff2") format("woff2"),
		 url("../fonts/iran-sans-200.woff") format("woff"),
		 url("../fonts/iran-sans-200.ttf") format("truetype");
	font-weight: 200;
}

@font-face {
	font-family: "primary-font";
	src: url("../fonts/iran-sans-300.eot");
	src: url("../fonts/iran-sans-300.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/iran-sans-300.woff2") format("woff2"),
		 url("../fonts/iran-sans-300.woff") format("woff"),
		 url("../fonts/iran-sans-300.ttf") format("truetype");
	font-weight: 300;
}

@font-face {
	font-family: "primary-font";
	src: url("../fonts/iran-sans-400.eot");
	src: url("../fonts/iran-sans-400.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/iran-sans-400.woff2") format("woff2"),
		 url("../fonts/iran-sans-400.woff") format("woff"),
		 url("../fonts/iran-sans-400.ttf") format("truetype");
	font-weight: 400;
}

@font-face {
	font-family: "primary-font";
	src: url("../fonts/iran-sans-500.eot");
	src: url("../fonts/iran-sans-500.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/iran-sans-500.woff2") format("woff2"),
		 url("../fonts/iran-sans-500.woff") format("woff"),
		 url("../fonts/iran-sans-500.ttf") format("truetype");
	font-weight: 500;
}

@font-face {
	font-family: "primary-font";
	src: url("../fonts/iran-sans-700.eot");
	src: url("../fonts/iran-sans-700.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/iran-sans-700.woff2") format("woff2"),
		 url("../fonts/iran-sans-700.woff") format("woff"),
		 url("../fonts/iran-sans-700.ttf") format("truetype");
	font-weight: 700;
}


:root {
    --primary: #234175;
    --secondary: #f79521;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --text-secondary:#0e0e0e73;
}

* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}
body{
    font-family: 'primary-font';
    font-weight: 300;
    overflow-x: hidden;
    background-color: #fcfdfd;
}

html {
    font-size: 16px;
}

label{
    margin: 0;
}

.h3, h3 {
    font-size: 1.2rem;
    font-weight: 500;
}

.h2, h2 {
    font-size: 1.5rem;
    font-weight: 400;
}
.h5,h5{
    font-size: 1rem;
    font-weight: 400;
}

.orange_list {
    list-style: none;
    padding-right: 1rem;
}

.orange_list::before {
    content: "\2022";
    color: var(--secondary);
    font-weight: bold;
    width: 1rem;
    display: inline-block;
    margin-right: -1rem;
}

.check_item {
    list-style: none;
}

.check_item::before {
    content: "\2713";
    color: var(--primary);
    font-weight: bold;
    width: 1rem;
    display: inline-block;
    margin-right: -1rem;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

p{margin: 0;}

button {
    cursor: pointer;
}

.dropdown .dropdown-menu {
    cursor: pointer;
}

.form-control:focus {
    border-color: #e294026c;
    box-shadow: none;
  }
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.w-p-100{
    width: 100px;
}

.w-p-120{
    width: 120px;
}
